* {
  box-sizing: border-box;
}


.top, .bottom, .left, .right {
  background: #cd2626;
  position: fixed;
}

.left, .right {
  top: 0; 
  bottom: 0;
  width: 1em;
}
.left { 
  left: 0; 
}

.right { 
  right: 0; 
}

.top, .bottom {
  left: 0; 
  right: 0;
  height: 1em;
}

.top { 
  top: 0; 
}
.bottom { 
  bottom: 0; 
}

.logo {
  display: flex;
  justify-content: center;
  margin: 8em auto 0 auto;
 /* margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;*/
  width: 40%;
  height: auto;

}

#userSearch {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 4em;
}


@media (min-width: @screen-sm-min) {
  #searchInput {
    max-width: 768px;
  }
}

.form-group {
  width: 70%;
  margin-bottom: 0;
}

.form-control {
  font-family: 'Roboto', sans-serif;


}

.form-control:focus {
  border-color: #cd2626 !important;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
  outline: 0 none !important;
}

#searchInput {
  width: 75%;
  /*  margin-right: auto;*/
}

#searchInput:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

#submitInput {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0 !important;
  margin-left: -11%;
  margin-right: 5%;
}

.form-group {
  margin-bottom: 0;
  height: 0;
}

button:focus {
  border-color: #cd2626 !important;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
  outline: 0 none !important;
  background-color: rgba(229, 103, 23, 0.075) !important;
}

button:hover {
 background-color: rgba(229, 103, 23, 0.075) !important;
}


.videoTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  padding-top: 4em;
  padding-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 8em;
}

#gitIcon {
  color: #cd2626;
}

#infoIcon {
  color: #cd2626;
}

.footer {
  height: 8em;
}
